*{
    margin:0;
    padding:0;
}
.navi{
    display: flex;
    background-color: #006449;
}

.logo {
    text-align: left;
    letter-spacing: 10px;
    font-size: 30px;
    font-weight:500;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding-top: 10px;
    color:beige;
    flex-basis:80%; 
}

.history {
    flex-basis: 10%;
}
.logout {
    flex-basis: 10%;
    
}
.librarian-books {
    display: flex;
    justify-content: center;
}
.box-1 button {
    background-color: #92bf8f;
    width: 300px;
    height: 200px;
    border: none;
    margin-top: 30px;
    margin-right: 10px;
    border-radius: 20px;
    color: aliceblue;
    font-size: larger;
}
.box-2 button {
    background-color: #92bf8f;
    width: 300px;
    height: 200px;
    border: none;
    margin-top: 30px;
    border-radius: 20px;
    color: aliceblue;
    font-size: larger;
}
button:hover {
    background-color: #006449;
}
.footer{
    text-align: center;
    background-color: grey;
    height:500px;
    margin-top: 50px;
    padding-top: 40px;
}