*{
    margin:0;
    padding:0;
}
.navi{
    height: 50px;
    background-color: #92bf8f;
    text-align: center;
    letter-spacing: 10px;
    border-radius: 5px;
    font-size: 30px;
    font-weight:500;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding-top: 20px;
    display: flex;
}
.navi .history button {
    margin-left: 800px;
}
.navi .logout button {
    margin-left: 100px;
}
.librarian-books {
    display: flex;
    margin-left: 0;
    margin-right: 0;
    justify-content: center;
}
.box-1 button {
    background-color: #92bf8f;
    width: 300px;
    height: 200px;
    border: none;
    margin-top: 30px;
    margin-right: 10px;
    border-radius: 20px;
    color: aliceblue;
    font-size: larger;
}
.box-2 button {
    background-color: #92bf8f;
    width: 300px;
    height: 200px;
    border: none;
    margin-top: 30px;
    border-radius: 20px;
    color: aliceblue;
    font-size: larger;
}
button:hover {
    background-color: #006449;
}
.footer{
    text-align: center;
    background-color: grey;
    height:500px;
    margin-top: 50px;
    padding-top: 40px;
}