*{
    margin:0;
    padding:0;
}
.navi{
    height: 50px;
    background-color: #92bf8f;
    letter-spacing: 10px;
    border-radius: 5px;
    font-size: 30px;
    font-weight:500;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}
li{
    list-style-type: none;
    display: inline;
    font-size: 10px;
    letter-spacing: 2px;
    float: right;
    justify-content: space-between;
}
a{
    text-decoration: none;
    padding: 10px;
    color: black;
}
.profile{
    margin-top: 20px;
}
.footer{
    bottom: 0px;
}
