{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static "Book/Userprofile.css" %}" rel="stylesheet">

</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}
        <main class="box">
        <table>
            <tr>
                <td class="title">Bookstore Profile</td> 
            </tr>
            <tr>
                <td class="Label"> Bookstore Name</td>
                <td class="Label"> Bookstore Address</td> 
            </tr> 
            <tr>
                <div class="inputbox">
                <td> <input type="text" name="BookStoreName" placeholder="{{details.BookStoreName}}"> </td>
                <td> <input type="text" name="BookStoreAddress" placeholder="{{details.BookStoreAddress}}"></td>    
                </div>         
            </tr>        
            <tr> 
                <td class="Label">Store Owner Name</td>
                <td class="Label"> Owner Phone Number</td>
                
            </tr>
            <tr>     
                <td> <input type="text" name="OwnerName" placeholder="{{details.OwnerName}}"></td>       
                <td> <input type="text" name="OwnerpNo" placeholder="{{details.OwnerpNo}}"></td>             
            </tr> 
            <tr>
                <td class="Label">Email </td>        
            </tr> 
            <tr>
                <td> <input type="email" name="Email" placeholder="{{details.email}}"></td>
            </tr>
            <tr>
                <td><input type="submit" name = "submit"></td> 
            </tr> 
        </table>
        </main>
    </form>
</body>
</html>