{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static "Book/Userprofile.css" %}" rel="stylesheet">

</head>
<body>
    <main class="box">
    <table>
        <tr>
            <td class="title"> REGISTARTION FOR BOOKSTORE</td> 
        </tr>
        <tr>
            <td class="Label"> Bookstore Name</td>
            <td class="Label"> Bookstore Address</td> 
        </tr> 
        <tr>
            <div class="inputbox">
            <td> <input type="text" name="strname"> </td>
            <td> <input type="text" name="straddress"></td>    
            </div>         
        </tr>        
        <tr> 
            <td class="Label">Store Owner Name</td>
            <td class="Label"> Owner Phone Number</td>
            
        </tr>
        <tr>     
            <td> <input type="text" name="Owname"></td>       
            <td> <input type="text" name="Pno"></td>             
        </tr> 
        <tr>
            <td class="Label">Email </td>
            <td class="Label">Set Password </td>            
        </tr> 
        <tr>
            <td> <input type="email" name="email"></td>
            <td> <input type="password" name="pwd"> </td>
        </tr>
        <tr>
            <td class="Label"> Address</td>
        </tr> 
        <tr>
            <td> <input type="text" name="address"> 
        </tr>
        <tr>
            <td><input type="submit" name = "submit"></td> 
        </tr> 
    </table>
    </main>
</body>
</html>