{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>librarianHomepage</title>
    <link href="{% static 'Book/librarianhome-style.css' %}" rel="stylesheet">
</head>
<body>
    <form>
    <div class="navi">
        BOOKMART
        <div class="history"><button type="button">History</button></div>
        <div class="logout"><button type="button">Logout</button></div>
    </div>

    <div class="options">
        <div class="librarian-books">
            <div class="box-1">
                <button type="button" onclick="location.href='uploadbook.html'">Upload a book</button>
            </div>
            <div class="box-2">
                <button type="button" onclick="location.href='librarian-uploadedbooks.html'">Uploaded books</button>
            </div>
        </div>
    </div>
</form>
</body>
</html>