{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>librarianHomepage</title>
    <link href="{% static 'Book/librarianhome-style.css' %}" rel="stylesheet">
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <div class="navi">
            <div class="logo">BOOKMART</div>
            <div class="history"><button type="button">History</button></div>
            <div class="logout"><button type="button"><a href="{% url 'logout' %}">Logout</a></button></div>
        </div>

        <div class="options">
            <div class="librarian-books">
                <div class="box-1">
                    <button type="button"><a href="{% url 'bookupload' %}" >Upload a book</a></button>
                </div>
                <div class="box-2">
                    <button type="button" onclick="location.href='librarian-uploadedbooks.html'">Uploaded books</button>
                </div>
            </div>
        </div>

    <div class="footer"> 
        <div class="title">
            ABOUT US
        </div>
        Main objective of "BookMart" is to be able to access the Books in particular region.
        <br> Developed by,
        <br> P. Adithya Vardhan 
        <br> Rishitha
        <br> K. Vinay kumar
        <br> G. Vishal
        <br> Under the guidance of,
        <br> K. Praveen Kumar
    </div>

</form>
</body>
</html>