{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
    <link  rel="stylesheet" href="{% static "Book/Signup.css" %}" />
    <script> 
        function validation(){
            var pwd = document.form1.pwd.value;
            var cpwd = document.form1.cpwd.value;
            if(pwd != cpwd){
                alert('Passwords do not match');
            }
            if (pwd.length < 8) {
                alert("Your password must be at least 8 characters"); 
            }
            if (pwd.search(/[a-z]/i) < 0) {
                alert("Your password must contain at least one letter.");
            }
            if (pwd.search(/[0-9]/) < 0) {
                alert("Your password must contain at least one digit."); 
            }
            return true;
        }
    </script>
</head>
<body>
    <form name="form1" onsubmit="return validation()" method="POST">
        {% csrf_token %}
        <div class="box">
        <table> 
            <tr> 
                <td class="title" colspan="2"> SIGNUP </td>
            </tr>
            <tr> 
                <td class="Label"> UserName</td>
                <td class="Label"> Email</td>
            </tr>
            <tr>
                <td> <input type="text" name="name" class="inputbox"></td>
                <td> <input type="email" name="email" class="inputbox"></td>
            </tr>
            <tr> 
                <td class="Label"> Set Password</td>
                <td class="Label"> Confirm Password</td>
            </tr>
            <tr> 
                <td> <input type="password" name="pwd" class="inputbox"> </td>
                <td> <input type="password" name="cpwd" class="inputbox"> </td>
            </tr>
            <tr>
                <td> 
                    <select name="user_type">
                        <option value="Select">Select</option>
                        <option value="User">User</option>
                        <option value="Bookstore">Bookstore</option>
                        <option value="Library">Library</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><input type="submit" id="yes" class="yes" name="Yes" /></td>
            </tr>
            <tr>
                <!-- <td><a href="homepage.html">Already a User?</a></td> -->
            </tr> 
        </table>
        </div>
    </form>
</body>
</html>