{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static "Book/Userprofile.css" %}" rel="stylesheet">
</head>
<body>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <main class="box">
        <table>
            <tr>
                <td class="title"> Individual Profile</td> 
            </tr>

            
            {% if details.image %} 
            <img src="{{details.image.url}}" width="150px" height="150px">

            {% else %} <h1>No profile pic</h1> 

            {% endif %}


            <tr>
                <td class="Label">Name</td>
                <td class="Label">Address</td> 
            </tr> 
            <tr>
                <div class="inputbox">
                <td> <input type="text" name="name" placeholder="{{details.Name}}"> </td>
                <td> <input type="text" name="address" placeholder="{{details.Address}}"></td>    
                </div>         
            </tr>        
            <tr> 
                <td class="Label">Email</td>
                <td class="Label">Phone Number</td>
                
            </tr>
            <tr>     
                <td> <input type="text" name="Email" placeholder="{{details.email}}"></td>       
                <td> <input type="text" name="Pno" placeholder="{{details.PhoneNo}}"></td>             
            </tr> 
            <tr>
                <td>
                    <input type = "file" name="image"/>
                    <button>Upload!</button>
                </td>
            </tr>
            <tr>
                <td><input type="submit" name = "submit"></td> 
            </tr> 
        </table>
        </main>
    </form>
</body>
</html>