{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link href="{% static "Book/userhome.css" %}" rel="stylesheet">
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <div class="navi">
            BOOKMART
            <div class="navibar">
                <li class="history"> <a href="">History</a></li>
                <li class="profile"> <a href="{% url 'userprofile' %}"> Profile</a></li>
                <li class="profile"> <a href="{% url 'logout' %}"> Logout</a></li>
            </div>    
        </div>
        <div class="box">
            <div class="purchase">
                <div class="block">
                    <p>For Purchasing </p>
                    <br>
                    <p>from Bookstore</p>
                    <br> <button><a href="{% url 'userpurchasingbookstore' %}">
                        Click here!
                    </a>
                    </button>
                    <p>from Regular individuals</p>
                    <br> <button> 
                        <a href="{% url 'userpurchasingUser' %}">
                            Click here!
                        </a>
                    </button>
                </div>
            </div>

            <div class="rent">
                <div class="block">
                    For Renting
                    <br>
                    <p>from Library</p>
                    <br> <button><a href="{% url 'userrentinglib' %}">
                        Click here!
                    </a>
                    </button>
                    <p>from Regular individuals</p>
                    <br> <button> 
                        <a href="{% url 'userrentingUser' %}">
                            Click here!
                        </a>
                    </button>
                </div>
            </div>
            <div class="sell">
                <div class="block">
                    <p>If you want to sell a book?</p>
                    <br> 
                    <br> 
                    <br> <button><a href="{% url 'userselling' %}">
                        Click here!
                    </a>
                    </button>
                </div>
            </div>
        </div>
    <div class="footer"> 
        <div class="title">
            ABOUT US
        </div>
        Main objective of "BookMart" is to be able to access the Books in particular region.
        <br> Developed by,
        <br> P. Adithya Vardhan 
        <br> Rishitha
        <br> K. Vinay kumar
        <br> G. Vishal
        <br> Under the guidance of,
        <br> K. Praveen Kumar
    </div>
</form>
</body>
</html>