{% include "includes/bookstemplate.html" %}

{% load static %}

{% block page_title %}

{% endblock %}


{% block content %}
<div class="container-1">
    <form action="" method="POST">
        {% csrf_token %}
        <div class="box">
            {% for books in books %}
                <div class="book">
                    {% if books.image %}
                    <img src="{{books.image.url}}" width="150px" height="150px">
                    {% endif %}
                    <div class="text">
                        <p>    
                        Book Name:
                        {{books.name | title}}
                        <p>Author:
                        {{books.author | title}}</p>
                        <p>Publications:
                        {{books.publications | title}}</p>
                        <p>Edition:
                        {{books.edition | title}}</p>
                        <p>Price: 
                        {{books.price | title}}</p>
                        <p> Purpose:
                        {{books.purpose | title}}</p>
                        <p> Book Owner: 
                        {{books.book_owner | title}}</p>
                    </div>
            <button><a href="{% url 'libraryappointment' books.id %}">
                Appointment
            </a></button>
        </p>
    </div>
{% endfor%}
</div>
</form>
</div>
{% endblock %}